.home-head{
    text-align: center;
    color: #fff;
}

.container{
    text-align: center;
}

.recipe-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-image{
    border-radius: 100%;
    border: 2px solid white;
    max-height: 180px;
    margin-top: 2%;
}