.recipe-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-image{
    border-radius: 100%;
    border: 2px solid white;
    max-height: 180px;
    margin-top: 2%;
}


// Media Query

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .recipe-div{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .recipe-div{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .recipe-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}